DATABASE_URL=jdbc:mariadb://localhost:3306/mos_backend?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Tokyo
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
SECURITY_USER_NAME=your_security_user_name
SECURITY_USER_PASSWORD=your_security_user_password
